In [3]:
from data_extraction import DataExtractor as de

### Clean legacy user details

In [17]:
#Import legacy user details
legacy_users = de.read_dbs_table()['legacy_users']
legacy_users.head(5)

['legacy_store_details', 'legacy_users', 'orders_table']

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579

Legacy users has 12 columns:

| Column | Data Type | Comment
|--------| --------- | -------
| index| int64    | Home address
| first_name| object    | User's first name
| last_name| object    | User's last name
| date_of_birth| object    | Date of birth
| company| object    | Company they work for
| email_address| object    | Their email
| address| object    | Home address
| country| object    | Home Country
| country_code| object    | Code for home country - 2digit
| phone_number| object    | User's phone number. Some have country code, some don't
| join_date| object    | Date user joined (yr-month-day)
| user_uuid| object    | Unique identification number for each user

The database contains 15320 entries.

## Step 1 - Change the data type for each column

- Categories:
    - company
    - country
    - country_code

- String
    - first_name
    - last_name
    - email_address
    - address
    - phone_number
    - user_uuid

- Date
    - date_of_birth
    - join_date

In [60]:
# convert column categories
legacy_users = legacy_users.astype({"company":"category", "country":"category", "country_code":"category"})
legacy_users = legacy_users.astype({"first_name":"string", "last_name":"string", "email_address":"string","address":"string","phone_number":"string","user_uuid":"string"})
#legacy_users = legacy_users.astype({"date_of_birth":"datetime64", "join_date":"datetime64"})


initial_country_list = legacy_users["country"].unique()
country_list = {"Germany", "United Kingdom", "United States"}
print(type(country_list))
for item in initial_country_list:
    print(item)

inconsistent_rows = legacy_users["country"].isin(country_list) == False
legacy_users[inconsistent_rows]

<class 'set'>
Germany
United Kingdom
United States
I7G4DMDZOZ
NULL
AJ1ENKS3QL
XGI7FM0VBJ
S0E37H52ON
XN9NGL5C0B
50KUU3PQUF
EWE3U0DZIV
GMRBOMI0O1
YOTSVPRBQ7
5EFAFD0JLI
PNRMPSYR1J
RQRB7RMTAD
3518UD5CE8
7ZNO5EBALT
T4WBZSW0XI

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
752,752,PYCLKLLC7I,W350SCUD6R,KBTI7FI7Y3,R7IZUNSQX0,3Q791B3VIY,YW2YXLOQ5J,I7G4DMDZOZ,VSM4IZ4EL3,A4Q4HQBI3I,JJ2PDVNPRO,W43MSCMQ88
867,867,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
1023,1023,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
1047,1047,GI4C78KWH0,UTB5PPYFG8,OFH8YGZJWN,CA1XGS8GZW,7HSZB429UK,63GXGYR3XL,AJ1ENKS3QL,QVUW9JSKY3,64ZO0ONUQO,AHN6EKASH3,BUE34OU973
1807,1807,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2105,2103,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2440,2439,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2743,6526,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2768,2764,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
3000,2997,DPAJNJL6PR,B8ZGN8ZJ84,PQPEUO937L,0YJ2FRMDB4,O5Q6D7FDAF,Y1GY1G3EM5,XGI7FM0VBJ,0CU6LW3NKB,DU9UJ42F3E,FYF2FAPZF3,56URKLG01W
3542,3539,E5139W1FJ3,X88YLZX0JX,7KGJ3C5TSW,648S19YUFF,BYU3R2LQF8,GOWRW4JCE7,S0E37H52ON,PG8MOC0UZI,LJ6H5XBD2A,QH6Z9ZPX37,A1W2TVMK1S
4993,4987,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
5315,5309,XKDVQD7BH2,4YSEX8AY1Z,RQTF5XSXP4,GKJZ58DTHT,789HWCYC7M,KJW5WR7W16,XN9NGL5C0B,NTCGYW8LVC,MUXPJD0BZY,LYVWXBBI6F,LNRNI6X6VL
5316,5310,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
6431,6426,EI10BU4INS,SH6Y92V6IK,D2OZZHWOLK,LNFBRXXUT4,TFEA83AAHP,XGYW43ZF8B,50KUU3PQUF,FB13AKRI21,GA2YQ189FL,DM4Q84QZ03,23WTQ63AET
6931,6927,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
7749,7747,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
8399,8398,I7IJDAPMIM,LUNRZWUKRB,QTVEU5TR8H,JXKOHA5B8F,JK2J6N4DLG,FW3EMRJ25W,EWE3U0DZIV,OS2P9CMHR6,G2D0EI6DT3,DOKMYDVV6L,8FB8XB78NQ
9027,9026,TG6PAO2RAB,PIG6VAZUPM,L3E8OV4UAC,ROL0IMK6UH,EIV7XWUJ8I,KHJLOAKCW2,GMRBOMI0O1,5D74J6FPFJ,65I9CX7VF2,YBUYH8T6OE,HEGG0N3ICG
10028,10025,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
10226,10224,VCQL3ML6ZT,HULT86HONJ,TLSTUEIKI0,QSS0MWBGFZ,1WNILGM5MK,R4HMRLEIXV,YOTSVPRBQ7,LZGTB0T5Z7,6VGTZ6ANEA,SRH5SM36LH,AKXDQ62K1V
10239,10237,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
10375,10373,G1SI2RM0KA,67VJEE6DS2,YTC82GP4XE,M4Z6M30SJ3,U1AZKY6URZ,N9D1AYQOJ0,5EFAFD0JLI,IM8MN1L9MJ,Y0AKRC4TUP,4JIOCHZY0W,7JTCX4UVLK
11004,11002,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
11383,11381,31XQ1Z35J9,8LR57D7RZ0,O1LIA1MT1N,66V9WU2HU1,XASHXWHN80,NZDOEJPB2M,PNRMPSYR1J,RVRFD92E48,CLGG66L3JK,3CUODA3HTC,C7N3K5VF9U
11461,11459,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
11617,11615,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
11780,11778,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
11883,11881,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
12112,12110,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
12199,12197,2GU3G97VI1,91RL47Q2WC,RQI3KQXFBQ,D4KULDKYME,YM2YGPR8W1,4M2VPXJHBE,RQRB7RMTAD,XKI9UXSCZ1,35OGAP18JU,8BAER2328P,YIBFXQLD4A
12608,12606,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
13136,13135,F3LGJ1NZ0I,IXWSZZ2VPN,1IA43NTJFB,9WSM9X17XK,M5ZDMLPP45,W5VT0DOEKO,3518UD5CE8,QREF9WLI2A,EIP7YUL5CE,U9CRKSTONU,55II6WK8D2
13881,13879,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
14127,14124,DD0K0FUDRY,Q9U9JNG44F,M7HZECVQVC,DJXWS4B52O,X29OBIYMTI,8EK3ZFIGXL,7ZNO5EBALT,XPVCZE2L8B,XBL6JO9DU6,9YLGYDEZNV,1YOGCW4V46
14526,14523,YWM71XYN17,PYC56FDP4V,6WAQ2SVK0Q,WGP4NBYFT6,6VIJ9KJU8P,NI3KEEZPTY,T4WBZSW0XI,44YAIDY048,QVAV1H2QVH,7PF0SMLXII,7PYPXC0PPN

In [107]:
legacy_users_drop = legacy_users[~inconsistent_rows]

In [108]:
legacy_users_drop = legacy_users_drop.astype({"date_of_birth":"datetime64", "join_date":"datetime64"})
legacy_users_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15284 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15284 non-null  int64
 1   first_name     15284 non-null  string
 2   last_name      15284 non-null  string
 3   date_of_birth  15284 non-null  datetime64[ns]
 4   company        15284 non-null  category
 5   email_address  15284 non-null  string
 6   address        15284 non-null  string
 7   country        15284 non-null  category
 8   country_code   15284 non-null  category
 9   phone_number   15284 non-null  string
 10  join_date      15284 non-null  datetime64[ns]
 11  user_uuid      15284 non-null  string
dtypes: category(3), datetime64[ns](2), int64(1), string(6)
memory usage: 1.6 MB

In [109]:
# Drop rows with duplicated email

duplicates = legacy_users_drop.duplicated(["email_address"])

mask = legacy_users_drop['email_address'].isin(['hsmith@smith.com'])

legacy_users_drop = legacy_users_drop[~mask]

In [110]:
legacy_users_drop.head()

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0 59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a Lynne terrace McCarthymouth TF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive Joanborough SK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow New Tracy W22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass Hunterborough NN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579

In [111]:
# Phone numbers
set(legacy_users_drop["phone_number"])

{'+44115 4960190',
 '0909 879 0287',
 '+44909 8790047',
 '+44(0)113 496 0185',
 '+441174960348',
 '(0114) 4960701',
 '+49(0)6836303436',
 '09098790751',
 '0191 4960993',
 '09098790776',
 '0131 4960095',
 '(00470) 783413',
 '(0191)4960602',
 '0043052765',
 '0096765636',
 '029 2018110',
 '0726484490',
 '+44(0)29 2018960',
 '029 2018226',
 '0115 496 0821',
 '+49(0)1337 512573',
 '(0808)1570285',
 '+49(0)2934567773',
 '(0115)4960402',
 '(0131)4960076',
 '(0141) 4960188',
 '(05161) 536761',
 '01154960875',
 '+44131 4960565',
 '+44(0)141 4960672',
 '+44(0)29 2018011',
 '0306 9990283',
 '+49 (0) 9850 293849',
 '+49(0)4963944921',
 '(401)262-6474',
 '+44(0)29 2018463',
 '+44(0)292018093',
 '020 74960543',
 '0117 4960172',
 '01251399870',
 '(09371) 87066',
 '01144960345',
 '001-896-460-5329',
 '+44(0)131 4960201',
 '+49 (0) 6834 289390',
 '+44(0)1614960360',
 '+44(0)1164960303',
 '+44(0)121 4960579',
 '(0115)4960535',
 '0113 4960588',
 '+49(0)5699 241308',
 '+49(0)4508 74576',
 '(0113)4960946',
 '+44(0)117 496 0171',
 '+44(0)2074960859',
 '0116 496 0361',
 '0191 4960412',
 '+448081570398',
 '0191 4960565',
 '(0113)4960817',
 '+44(0)141 496 0573',
 '(051)704-2840x18918',
 '+49(0)6214 47835',
 '01134960064',
 '03484823182',
 '0484657641',
 '+448081570493',
 '026.576.4911',
 '03795 569081',
 '+49 (0) 2414 378242',
 '01164960470',
 '+49(0)3866 03985',
 '(02762) 70610',
 '08330 422694',
 '(07044) 459520',
 '0909 8790341',
 '0151 496 0895',
 '+44(0)1144960292',
 '+44(0)1134960755',
 '(03437) 30208',
 '+49(0)2472733661',
 '+49 (0) 7438 037642',
 '(08844) 325855',
 '0115 496 0236',
 '+49(0)1807 33277',
 '029 2018635',
 '(0151) 4960343',
 '0113 496 0009',
 '05042578483',
 '06404 437169',
 '0118 4960442',
 '+441632 960468',
 '+441174960001',
 '+4428 9018 0552',
 '0988512249',
 '(0118)4960225',
 '01514960899',
 '0161 496 0873',
 '+49(0)3785 448606',
 '0909 8790644',
 '+44(0)117 496 0157',
 '(0141) 4960831',
 '07516 677629',
 '+44(0)29 2018 0548',
 '+44(0)121 496 0659',
 '(03136) 683101',
 '+44(0)116 496 0097',
 '+1-869-679-5969x51791',
 '09508 135796',
 '(456)866-0353x15812',
 '+49 (0) 6132 587529',
 '0117 496 0803',
 '(260)781-4703',
 '+44(0)909 8790849',
 '0116 4960639',
 '8179816120',
 '01632 960 544',
 '(0151)4960471',
 '0117 4960416',
 '+44909 8790056',
 '+44(0)161 496 0294',
 '(0151)4960452',
 '03173956553',
 '+49(0)1849 01186',
 '+49(0)0906 456382',
 '(0909) 8790520',
 '(029) 2018 0309',
 '0161 496 0001',
 '0141 4960295',
 '+44(0)1614960899',
 '(0121) 4960588',
 '+44(0)1614960912',
 '09153 121570',
 '01314960101',
 '550.664.3037',
 '(0116) 496 0326',
 '01614960527',
 '+44292018381',
 '(05454) 92081',
 '(0151) 4960718',
 '0118 496 0131',
 '05067 59325',
 '(0808) 1570908',
 '01414960465',
 '+441164960210',
 '09002557309',
 '06140 534050',
 '0191 498 0585',
 '+441214960914',
 '+49(0) 073289541',
 '(01632) 960 737',
 '+44141 496 0262',
 '+4420 74960170',
 '03364 59929',
 '+449098790098',
 '+44(0)1614960074',
 '0114 496 0340',
 '+49 (0) 5482 540628',
 '(0191)4960811',
 '+44161 496 0515',
 '(01632)960982',
 '05687 95854',
 '+44(0)808 1570649',
 '+44113 496 0249',
 '(02478) 25215',
 '+44(0)113 4960484',
 '+441214960578',
 '+44(0)121 4960335',
 '+44(0)113 4960631',
 '(01351) 650938',
 '+1-258-735-8317',
 '(0115) 4960025',
 '0117 4960303',
 '(0141) 496 0872',
 '+49 (0) 3124 365616',
 '(0141) 496 0293',
 '08081570882',
 '+44(0)116 4960973',
 '+44(0)909 879 0557',
 '02156 66919',
 '(0808) 1570688',
 '00572 507987',
 '01184960949',
 '+441134960605',
 '020 74960988',
 '(09622) 190658',
 '(0116)4960628',
 '+44118 4960245',
 '(0141)4960003',
 '+49(0)6600163044',
 '(09451) 680497',
 '08196 54985',
 '+44(0)8081570793',
 '+49(0)1082 37950',
 '001-611-782-2403x090',
 '(129)381-4844x56270',
 '(01632) 960454',
 '03371 121574',
 '+44(0)306 9990151',
 '(0808) 1570420',
 '0141 496 0248',
 '0306 9990303',
 '+49(0)7233 505310',
 '(0306)9990316',
 '08917 20735',
 '04545 02818',
 '08929629197',
 '+44(0)1184960202',
 '+44(0)1614960189',
 '028 9018 0887',
 '01164960161',
 '(01839) 687736',
 '248-076-3301x58270',
 '+44114 496 0223',
 '+44(0)117 496 0867',
 '0117 4960199',
 '(01353) 22155',
 '+1-583-807-9709x6485',
 '+49 (0) 5707 253950',
 '174-394-0081x22030',
 '020 74960412',
 '0121 4960647',
 '(0114) 496 0339',
 '0141 4960048',
 '0151 496 0967',
 '+44(0)118 496 0037',
 '(0141) 496 0904',
 '(0151) 4960836',
 '(0116) 496 0927',
 '(00017) 731193',
 '(0151)4960671',
 '+44306 9990886',
 '+44141 496 0755',
 '(0118)4960132',
 '+44191 496 0316',
 '+1-078-441-9193x7839',
 '+44(0)121 496 0909',
 '+44(0)115 496 0402',
 '00576 33001',
 '(0191) 4960671',
 '0117 496 0493',
 '02296795577',
 '0121 4960460',
 '+49(0) 993552824',
 '+49 (0) 0982 999459',
 '+49(0)5351 53102',
 '+44909 879 0037',
 '+49(0)1053 18734',
 '+49(0)1912135522',
 '+49(0)0430 140701',
 '(0909) 8790285',
 '(0161)4960550',
 '(03428) 014150',
 '+448081570286',
 '+44115 4960340',
 '0117 4960842',
 '001-658-377-5915',
 '01164960225',
 '01386 16267',
 '+49(0) 087078635',
 '+49(0)3652 40671',
 '+44(0)1164960408',
 '01514960061',
 '01134960531',
 '0131 4960131',
 '+49(0)8056529788',
 '0808 157 0441',
 '(09722) 73986',
 '03069990128',
 '(07051) 135896',
 '+44(0)1414960327',
 '+44114 4960339',
 '01639077702',
 '+4428 9018 0409',
 '(0118) 496 0766',
 '+441134960878',
 '+44(0)131 496 0906',
 '+49(0) 759960089',
 '020 7946 0593',
 '+44(0)1144960462',
 '+49(0)9174160169',
 '07641289193',
 '+49(0)4350431076',
 '+44(0)909 879 0613',
 '02504183201',
 '05122 70638',
 '+44(0)1164960347',
 '+441514960081',
 '+49(0)3878 151702',
 '01164960716',
 '+49(0)8537573009',
 '01154960183',
 '+44(0)113 4960388',
 '+49(0)7416 86053',
 '(0131)4960996',
 '(020)74960828',
 '+49 (0) 1677 812066',
 '(07125) 316644',
 '(0141)4960437',
 '+4428 9018 0319',
 '+49(0)8138 35987',
 '029 2018927',
 '08711 725605',
 '+44121 4960095',
 '+49(0) 006656203',
 '(124)308-9051x684',
 '+44(0)1614960080',
 '+44(0)121 4960103',
 '08081570075',
 '001-014-955-3647x69170',
 '03807881563',
 '+44(0)1144960969',
 '05345 36096',
 '(04332) 10563',
 '(201)203-3785x598',
 '01144960142',
 '+49(0)0094 284779',
 '0306 999 0996',
 '(0114) 496 0962',
 '06006952419',
 '09580 210977',
 '03196 782026',
 '+49(0)1796 95502',
 '+49(0) 716996892',
 '01162649179',
 '813.434.3128x894',
 '(0115)4960254',
 '0191 498 0855',
 '0808 1570249',
 '+44(0)28 9018273',
 '+49(0) 748413274',
 '+44808 1570766',
 '0161 496 0684',
 '(0118) 496 0366',
 '01174960465',
 '(028) 9018 0213',
 '(518)142-9548x86203',
 '+4429 2018322',
 '0400136409',
 '(09035) 09497',
 '+49(0)0350156853',
 '(0141) 4960168',
 '+441174960796',
 '(01770) 639394',
 '+49(0) 802246714',
 '028 9018404',
 '0141 4960317',
 '(0117)4960289',
 '(01632) 960846',
 '931-235-3469',
 '+441184960166',
 '08081570358',
 '+49(0)4083 151448',
 '(020) 74960298',
 '+44(0)151 4960174',
 '00208 51088',
 '+49(0)0377845507',
 '001-974-220-2790x15010',
 '0897341525',
 '+44(0)1174960277',
 '+49(0)4064 62733',
 '+44(0)1144960530',
 '+49(0) 945150057',
 '(028) 9018510',
 '(02378) 285274',
 '04611804087',
 '+44(0)1164960963',
 '(0118) 496 0466',
 '06908 33205',
 '(020) 7496 0935',
 '+44191 4960371',
 '034-781-7960x57711',
 '+49(0) 656406684',
 '969-079-0615x55351',
 '(0131) 4960230',
 '0192922216',
 '+49(0)1075563122',
 '+44(0)191 496 0188',
 '629-753-0081',
 '(525)424-8334',
 '020 7946 0908',
 '0140420696',
 '0921302979',
 '+44(0)909 8790268',
 '+44(0)114 4960141',
 '+44(0)121 496 0581',
 '+49(0) 873613491',
 '+44151 4960047',
 '546-912-9573x0182',
 '01144960360',
 '(028) 9018895',
 '+44(0)117 4960112',
 '05218 279366',
 '+44(0)1632 960014',
 '+49(0) 528870534',
 '+49(0)2202654585',
 '(01194) 915918',
 '0116 496 0376',
 '+44116 4960545',
 '(01632) 960 343',
 '01184960525',
 '+44(0)116 496 0215',
 '0114 496 0102',
 '+44909 8790669',
 '0348640150',
 '(0191)4960319',
 '8347090372',
 '01794661360',
 '06636 45769',
 '+49(0)7020 466439',
 '(723)827-2788x800',
 '+44(0)1914960483',
 '020 7946 0517',
 '08081570468',
 '(029)2018104',
 '001-232-909-1817x00819',
 '+44(0)151 4960655',
 '+49(0)9393 89471',
 '+44(0)1914960837',
 '0113 496 0179',
 '(01632)960089',
 '+44131 4960101',
 '+44114 4960061',
 '+1-149-972-6389x01165',
 '(03878) 187945',
 '+49(0) 998862620',
 '01700 35980',
 '+44(0)8081570917',
 '+44131 4960346',
 '+44(0)20 74960328',
 '01914960914',
 '+49(0)4381255555',
 '(0191)4960289',
 '(05250) 28180',
 '(00113) 24458',
 '0909 8790993',
 '0157637435',
 '+49(0)1296 770282',
 '(0909)8790284',
 '(07944) 37026',
 '(0141)4960955',
 '+49(0)0584 860382',
 '+44(0)808 157 0915',
 '01214960945',
 '(09494) 68592',
 '09098790281',
 '(0115)4960328',
 '0470943942',
 '+49(0) 953934932',
 '+49(0)9520 18539',
 '(0306)9990772',
 '+44(0)118 4960975',
 '(0306) 999 0727',
 '+49(0) 755030666',
 '(0114) 4960347',
 '01174960115',
 '+44115 496 0450',
 '07186 803274',
 '0141 496 0303',
 '+44(0)1632 960256',
 '(00570) 22050',
 '001-643-635-6198',
 '01184960961',
 '(0114) 4960641',
 '(0191)4960146',
 '(0161) 496 0674',
 '873-158-3688x76637',
 '+44115 4960995',
 '+441154960650',
 '(00698) 421622',
 '06258 86741',
 '+44(0)113 4960352',
 '+44(0)1174960165',
 '020 74960326',
 '+49(0) 168235099',
 '0808 1570652',
 '+49 (0) 6763 081633',
 '+44292018292',
 '+44(0)8081570957',
 '+44(0)1184960143',
 '029 2018028',
 '+44(0)1632960976',
 '08358 49602',
 '+49(0)9188948428',
 '+49 (0) 8154 358390',
 '0141 4960796',
 '(0113)4960790',
 '+1-834-893-4989x913',
 '01214960329',
 '+44(0)113 4960587',
 '970.481.2703x07925',
 '0292018758',
 '(0118)4960712',
 '(0151) 4960443',
 '+44151 496 0988',
 '+44131 4960036',
 '(0118) 496 0148',
 '+1-188-728-6035',
 '+49 (0) 6393 836353',
 '+49(0) 203821214',
 '+44(0)306 9990490',
 '(0117)4960456',
 '+44114 496 0224',
 '+49(0)6636287647',
 '03034 73875',
 '+44(0)114 4960372',
 '(432)034-7104',
 '+44(0)3069990039',
 '00425 673966',
 '+44(0)1144960445',
 '+44141 4960371',
 '+44(0)29 2018070',
 '+49(0)3496505436',
 '03069990117',
 '0289018617',
 '(020) 7496 0137',
 '+44(0)29 2018716',
 '3471020225',
 '+49(0) 797354043',
 '(028) 9018 0581',
 '001-916-324-5070x43072',
 '09170 663522',
 '00988 547569',
 '679-603-9787',
 '+44(0)1632 960 730',
 '(03921) 431871',
 '+49(0)1220 30563',
 '0679456786',
 '+441632 960812',
 '0161 4960058',
 '(03264) 501678',
 '0191 498 0950',
 '+49 (0) 0390 256698',
 '0117 4960877',
 '(0808) 1570611',
 '+44131 4960632',
 '01174960917',
 '0909 8790276',
 '01164960325',
 '(0131) 496 0260',
 '+44(0)151 496 0091',
 '822.700.0912x197',
 '+44(0)9098790463',
 '+1-122-033-5222x12186',
 '+44117 4960734',
 '(0306) 9990662',
 '7822830685',
 '+44808 157 0362',
 '05727042453',
 '+44(0)28 9018827',
 '0909 879 0752',
 '+44(0)1614960132',
 '+44(0)289018664',
 '(04811) 08816',
 '+44(0)141 496 0046',
 '0131 4960615',
 '+44(0)9098790715',
 '+49(0)0109855292',
 '(0161) 496 0035',
 '+441134960863',
 '(01632)960013',
 '+4429 2018 0440',
 '+49(0)9150690747',
 '+44(0)113 496 0837',
 '(0161)4960272',
 '(09164) 72617',
 '+49(0)5077047741',
 '(0115) 4960626',
 '0282089739',
 '(0131) 4960812',
 '+442074960461',
 '+49(0)3534 31151',
 '+49 (0) 6790 640210',
 '01134960207',
 '08375 62494',
 '+44(0)29 2018 0486',
 '+44(0)808 1570401',
 '0289018344',
 '(0808) 157 0791',
 '+49(0)8569 702917',
 '+442074960144',
 '+44(0)117 4960017',
 '(444)361-9745x933',
 '0070692693',
 '(0909) 8790461',
 '0306 9990309',
 '+44161 496 0282',
 '(0118)4960489',
 '(0121)4960490',
 '+44(0)118 496 0183',
 '+44808 157 0158',
 '06158 14700',
 '+441614960595',
 '+44117 4960726',
 '+4420 74960917',
 '+44(0)113 496 0402',
 '03554479909',
 '(01875) 649021',
 '+44(0)306 9990945',
 '(00250) 59601',
 '+44(0)28 9018482',
 '359-747-6147x4751',
 '+4429 2018 0240',
 '(0131)4960643',
 '0131 496 0487',
 '(0191) 496 0028',
 '(020) 7496 0949',
 '+44(0)29 2018 0923',
 '+44(0)1154960000',
 '(0161)4960949',
 '+44(0)28 9018734',
 '+44(0)1514960453',
 '+44113 4960440',
 '(028)9018448',
 '(03969) 968475',
 '+44(0)117 496 0393',
 '(0808) 1570630',
 '+44289018457',
 '(0191) 496 0422',
 '(0306) 999 0703',
 '01614960461',
 '(04615) 060400',
 '+44(0)118 4960936',
 '+1-218-475-4083x6005',
 '+44(0)1214960644',
 '+44(0)131 4960180',
 '+44909 8790774',
 '+44(0)161 496 0721',
 '+441614960769',
 '287-145-1176',
 '+1-351-861-4200',
 '812.226.3504x657',
 '+1-205-738-4747x64391',
 '001-181-017-1593',
 '(0191)4960535',
 '+44151 496 0118',
 '0306 999 0204',
 '028 9018 0338',
 '+44(0)118 4960160',
 '+44(0)131 496 0769',
 '01704 32855',
 '0909 8790039',
 '+44(0)8081570258',
 '(512)552-2594x032',
 '(08135) 64316',
 '+441144960205',
 '+44(0)161 496 0512',
 '+44(0)808 1570601',
 '029 2018408',
 '+4420 74960362',
 '+44114 4960582',
 '+44(0)909 879 0008',
 '+49(0)0668331818',
 '+49(0) 618540978',
 '(00676) 885540',
 '(974)549-3445x78567',
 '0131 4960700',
 '+49 (0) 9886 099876',
 '0115 4960071',
 '+44(0)1154960352',
 '(020) 7496 0508',
 '+44(0)306 999 0464',
 '0289018768',
 '00788 69531',
 '06968001208',
 '(04305) 902912',
 '(0191) 496 0283',
 '+44(0)131 4960391',
 '(0114)4960443',
 '+49 (0) 8802 698785',
 '+49(0)0702269771',
 '(0191)4960975',
 '+44808 157 0132',
 '07591262520',
 '(020) 74960809',
 '+49(0)1498 93811',
 '(0151)4960092',
 '+4420 74960123',
 '(05451) 05394',
 '+44(0)1134960201',
 '+49 (0) 1310 323390',
 '+44(0)113 4960144',
 '(07609) 996417',
 '0113 496 0752',
 '+49 (0) 6420 223180',
 '0650355139',
 '04371 018419',
 '+44116 496 0426',
 '03626 565868',
 '+49(0)3469821264',
 '020 7946 0261',
 '(0191) 496 0554',
 '+49(0)2184 359258',
 '(0161) 496 0449',
 '0017726401',
 '+44(0)1514960480',
 '+441214960348',
 '+44(0)191 4960228',
 '+44116 4960596',
 '+44(0)1414960523',
 '0115 496 0477',
 '01183 43482',
 '(0161)4960858',
 '+44(0)116 4960067',
 '+1-993-435-9837x166',
 '+44141 4960086',
 '02632 826513',
 '+49 (0) 4513 254062',
 '+49(0) 657356527',
 '0141 496 0446',
 '+49(0) 767523376',
 '01135 53231',
 '(08682) 14261',
 '+4420 74960498',
 '(0161) 4960062',
 '(0113)4960044',
 '01184960849',
 '(029)2018179',
 '+44(0)151 4960503',
 '0115 4960481',
 '+49(0) 881581861',
 '+49(0) 053033020',
 '+44114 4960753',
 '382.868.0173x527',
 '0117 496 0755',
 '6975176447',
 '+44289018737',
 '+44(0)29 2018 0892',
 '+44116 4960179',
 '+44161 496 0403',
 '0115 4960878',
 '001-446-901-4051x8502',
 '0115 496 0111',
 '+44115 4960474',
 '(0131)4960803',
 '+4429 2018427',
 '+44292018870',
 '+441514960218',
 '+49 (0) 5018 157143',
 '(00776) 681765',
 '+49(0)0235453437',
 '+4429 2018 0355',
 '+49(0)1195 771837',
 '0116 4960676',
 '0131 496 0982',
 '0115 496 0412',
 '03350106309',
 '(0116) 4960563',
 '+441632 960635',
 '01357 267975',
 '+44114 4960106',
 '0121 4960157',
 '01180 696901',
 '+49 (0) 4227 647955',
 '+44(0)29 2018316',
 '+44(0)141 4960961',
 '+44(0)1514960633',
 '+441414960141',
 '+44306 999 0054',
 '+49 (0) 9899 403562',
 '0115 496 0178',
 '001-299-199-8521',
 '(029) 2018201',
 '+49(0)0005883780',
 '0909 879 0446',
 '(0113) 4960514',
 '+44(0)306 999 0647',
 '+49(0)7750 167960',
 '+44292018933',
 '872.200.3110x563',
 '00603 652971',
 '0768738802',
 '01134960276',
 '0118 496 0945',
 '04667 583899',
 '(0808) 157 0350',
 '+44(0)118 496 0277',
 '+49 (0) 3217 485348',
 '(0191)4960541',
 '+44808 1570756',
 '+49(0) 705111007',
 '+44(0)306 999 0407',
 '+44118 4960034',
 '0151 4960837',
 '01164960878',
 '+44(0)1632 960 537',
 '020 7946 0791',
 '+49(0)9242 857481',
 '03727 983006',
 '254-243-5321',
 '+49(0)4982 32886',
 '(01632)960895',
 '+44(0)808 1570023',
 '(01632)960569',
 '(0909) 879 0077',
 '04167 20478',
 '+44306 9990880',
 '+49(0) 115867329',
 '01903075434',
 '0113 4960045',
 '+44(0)113 496 0744',
 '0118 496 0402',
 '(366)492-8532',
 '(0116) 496 0067',
 '+49(0)8462656780',
 '0114 496 0511',
 '+44(0)115 4960977',
 '01728 169480',
 '+44151 4960697',
 '02074960673',
 '01184960593',
 '+44(0)1314960474',
 '+44131 4960957',
 '(028)9018343',
 '+44121 4960969',
 '+49(0)2109 20515',
 '(09788) 126511',
 '+44116 4960972',
 '+44(0)191 496 0493',
 '01514960389',
 '020 7946 0327',
 '(029)2018845',
 '+4429 2018127',
 '(0909) 8790576',
 '+44(0)20 74960851',
 '020 7946 0958',
 '0151 496 0374',
 '06139 21638',
 '(0161)4960428',
 '+44(0)131 496 0224',
 '+44(0)29 2018284',
 '(0114) 4960541',
 '+49(0)2976109140',
 '+44151 496 0013',
 '+49(0)9555 23575',
 '+49(0) 202613075',
 '+49(0)8113 52742',
 '+44117 496 0309',
 '+44(0)1144960413',
 '+49 (0) 3654 780594',
 '001-366-861-1937x89329',
 '(0161) 4960923',
 '0808 157 0192',
 '+44(0)117 496 0272',
 '+443069990607',
 '+49(0) 456833823',
 '+44(0)114 496 0311',
 '+44(0)114 4960083',
 '(684)352-9131x191',
 '(07929) 947278',
 '135.719.9272',
 '727-220-6451x211',
 '+44909 8790697',
 '+49 (0) 9739 884495',
 '0118 496 0962',
 '0306 9990071',
 '05331 70306',
 '+49(0) 574257541',
 '+49(0)9913 30978',
 '(01632) 960 056',
 '(05988) 486123',
 '(0117) 496 0955',
 '0118 4960033',
 '0117 4960033',
 '+44141 496 0520',
 '08462 04375',
 '(510)632-9797',
 '+44(0)131 496 0913',
 '+44(0)1614960379',
 '08537 76480',
 '(0151) 496 0068',
 '962.495.7893x3941',
 '(217)829-9358',
 '(0306)9990732',
 '(0151)4960338',
 '029 2018342',
 '+44(0)141 496 0987',
 '+44116 4960297',
 '+49(0)7993 880255',
 '09638 44334',
 '01632 960 293',
 '(02861) 468960',
 '+44(0)1414960847',
 '(0115)4960832',
 '+441632960833',
 '(769)912-5335',
 '+44(0)306 999 0217',
 '0117 4960260',
 '+49(0)2770 243985',
 '(04811) 974506',
 '001-820-894-1063x680',
 '+44306 999 0834',
 '01008 19202',
 '+49(0) 645170633',
 '0113 4960465',
 '01614960705',
 '(01632)960281',
 '(0151)4960386',
 '001-321-446-2704x36075',
 '00469 76267',
 '029 2018 0805',
 '(020) 74960690',
 '9941209857',
 '+449098790438',
 '+44(0)808 157 0654',
 '(029)2018828',
 '001-390-764-7492x58377',
 '01491 92500',
 '+49(0)9420 206470',
 '(0115) 496 0307',
 '+49(0) 545231131',
 '+44(0)1632 960695',
 '(020)74960763',
 '06778 93534',
 '(00442) 65750',
 '05680 99115',
 '(741)611-3285x4476',
 '+44(0)113 4960249',
 '317-043-9274',
 '(0306) 9990648',
 '(01632) 960 384',
 '+49(0)6472 033343',
 '(020) 7496 0048',
 '+441174960491',
 '828.376.7297x66394',
 '0113 496 0669',
 '+49(0) 132080600',
 '+44(0)131 4960402',
 '(0909) 879 0008',
 '+49(0) 808243405',
 '+44(0)131 4960406',
 '+49(0)6632 462643',
 '0113 496 0256',
 '(04355) 311123',
 '+44(0)9098790787',
 '+441184960786',
 '+44121 4960861',
 '+49(0)0226 695190',
 '+44(0)909 879 0477',
 '0808 157 0240',
 '+44(0)151 4960924',
 '+44(0)131 496 0264',
 '+49 (0) 0731 417403',
 '+4428 9018 0482',
 '01514960997',
 '+44(0)131 4960480',
 '024.237.0822x18494',
 '+49(0)4475 57460',
 '(0808)1570124',
 '+4420 74960240',
 '+49 (0) 4466 542166',
 '+441134960664',
 '01314960943',
 '(0113) 496 0652',
 '(08186) 931034',
 '+49(0)9895 042340',
 '(572)444-1328',
 '(08360) 74128',
 '09683 92305',
 '01144960741',
 '00353732255',
 '(09929) 52301',
 '(0161)4960134',
 '9274328971',
 '+49(0) 123458377',
 '+44(0)141 4960194',
 '+441514960932',
 '+44(0)1914960089',
 '(0191)4960566',
 '+44(0)1614960886',
 '028 9018343',
 '(02686) 733621',
 '(0141) 4960668',
 '+1-935-194-4897x2721',
 '+44116 4960075',
 '(0121) 496 0071',
 '03184 202201',
 '+49 (0) 4897 962687',
 '+49(0) 137059297',
 '(114)744-3484x081',
 '(028)9018895',
 '+44161 4960259',
 '+44(0)8081570088',
 '001-739-280-4871x594',
 '+49(0)5138 723154',
 '+49(0)2135 555412',
 '0113 4960183',
 '+44115 4960493',
 '0116 4960298',
 '0627530203',
 '+49 (0) 3673 802913',
 '(07856) 050049',
 '+44808 1570199',
 '06436490679',
 '239.711.3836',
 '+44118 4960083',
 '+44(0)161 496 0415',
 '01134960196',
 '04090 51437',
 '+49(0)0406372221',
 ...}

In [130]:
legacy_users_drop = legacy_users.replace("GGB","GB")
legacy_users_drop.head(10)

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0 59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a Lynne terrace McCarthymouth TF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive Joanborough SK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow New Tracy W22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass Hunterborough NN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
5,5,David,Torres,1949-08-12,Yang-Stewart,mwilliams@nichols.org,"49226 Edwards Mountains North Sarah, DE 69608",United States,US,277-664-6389x8405,2002-01-21,53d21f46-1fa4-452f-a023-26aee2aae4d6
6,6,Anne,Morris,1952-11-10,Hutchinson Inc,nhudson@taylor-horton.com,33 Shaun locks Morganland G8 9YP,United Kingdom,GB,028 9018749,2004-06-23,e2066a2c-8cd3-46ad-b2ea-e2445d5d9335
7,7,Louis,Roberts,2006-08-05,"Hamilton, Walters and Clayton",joanne04@jennings-watson.com,Flat 68 Hamilton meadows Neilbury S88 8AP,United Kingdom,GB,+44(0)1414960221,2008-04-19,bd690c60-c952-40c0-82df-0f8b6797b562
8,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions Richardsonmouth CO67 2LJ,United Kingdom,GB,028 9018 0338,1993-07-10,02de2416-4baf-42ad-bae6-d716eca0fc3f
9,9,Emily,Jones,1992-10-09,Serrano-Leblanc,toni24@carlson.com,"012 Andrea Circle Suite 129 Josephmouth, AS 22237",United States,US,6554215915,1998-05-15,caffe463-4918-4f45-a37d-856dc0f15884

In [131]:
def standardised_phone_number(phone_number):
    # if the first characted is a + remove it
    if phone_number[:2] == '+1':
        phone_number = phone_number[2:]
    
    if phone_number[0] == '+':
        phone_number = phone_number[1:]
    
    # remove all whitespaces from phone number
    phone_number = phone_number.replace(" ", "")

    # remove hyphens from the phone number
    phone_number = phone_number.replace("-","")

    # remove brackets from the phone number
    phone_number = phone_number.replace("(","")
    phone_number = phone_number.replace(")","")
    
    if phone_number[0:2] == '44':
        phone_number = phone_number[2:]
    if phone_number[0:2] == '49':
        phone_number = phone_number[2:]
    # remove prefix 0
    phone_number = phone_number.removeprefix('0')
    phone_number = phone_number.removeprefix('00')

    return phone_number
legacy_users_drop_test = legacy_users_drop
legacy_users_drop_test["phone_number"] = legacy_users_drop["phone_number"].apply(standardised_phone_number)

In [137]:
legacy_users_drop_test.head()

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0 59015 Gießen,Germany,DE,047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a Lynne terrace McCarthymouth TF0 9GH,United Kingdom,GB,1614960674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive Joanborough SK0 6LR,United Kingdom,GB,1214960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow New Tracy W22 2QG,United Kingdom,GB,3069990871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass Hunterborough NN96 4UE,United Kingdom,GB,1214960225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579

In [139]:
import numpy as np
import pandas as pd

conditions =  [legacy_users_drop_test["country_code"] == 'GB', legacy_users_drop_test["country_code"] == 'US', legacy_users_drop_test["country_code"] == 'DE']

outputs = ['+44', '+1', '+49']

res = np.select(conditions, outputs, 'Other')


print(res)
pd.Series(res)
legacy_users_drop_test.concat()

['+49' '+44' '+44' ... '+49' '+44' '+44']

0        +49
1        +44
2        +44
3        +44
4        +44
        ...
15315    +49
15316    +49
15317    +49
15318    +44
15319    +44
Length: 15320, dtype: object